* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html,
body {
	font-family: 'Alegreya Sans', sans-serif;
}

body {
	background-color: #f8f8f8;
}

.site {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.site-content {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.container {
	width: 500px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.title {
	font-size: 2rem;
	color: #333;
	text-align: center;
	padding: 2rem;
}

.password {
	font-size: 1.5rem;
	width: 100%;
	border: none;
	outline: none;
	margin: 1em 0 2em;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	background: transparent;
	color: #333;
	box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), inset 4px 4px 10px rgba(0, 0, 0, 0.05),
		inset -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px rgba(0, 0, 0, 0.05);
}

.password::placeholder {
	letter-spacing: 0px;
}

.button {
	cursor: pointer;
	color: #fff;
	background-color: #333;
	font-size: 1rem;
	padding: 1rem 1rem;
	border: none;
	width: 45%;
	border-radius: 0.5rem;
}

.button:focus,
.button:hover {
	background-color: #000;
}

.button:active {
	background: transparent;
	color: #333;
	box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), inset 4px 4px 10px rgba(0, 0, 0, 0.05),
		inset -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px rgba(0, 0, 0, 0.05);
}

.developer {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 2rem;
	flex-shrink: 0;
}

.developer-link {
	font-size: 1.2rem;
	padding: 0 0.5rem;
	color: #333;
	text-decoration: none;
	font-weight: 600;
}
